<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE web-app PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN" "http://java.sun.com/dtd/web-app_2_3.dtd">
<web-app id="WebApp_ID">
	<display-name>DictionaryApp</display-name>
	<servlet>
		<servlet-name>TilesServet</servlet-name>
		<servlet-class>
			org.apache.struts.tiles.TilesServlet
		</servlet-class>
		<init-param>
			<param-name>definitions-config</param-name>
			<param-value>/WEB-INF/tiles-defs.xml</param-value>
		</init-param>
		<load-on-startup>3</load-on-startup>
	</servlet>
	<servlet>
		<servlet-name>action</servlet-name>
		<servlet-class>
			org.apache.struts.action.ActionServlet
		</servlet-class>
		<init-param>
			<param-name>config</param-name>
			<param-value>/WEB-INF/struts-config.xml</param-value>
		</init-param>
		<init-param>
			<param-name>debug</param-name>
			<param-value>2</param-value>
		</init-param>
		<init-param>
			<param-name>detail</param-name>
			<param-value>2</param-value>
		</init-param>
		<init-param>
			<param-name>validate</param-name>
			<param-value>true</param-value>
		</init-param>
		<load-on-startup>2</load-on-startup>
	</servlet>
	<servlet>
		<servlet-name>TestServlet</servlet-name>
		<display-name>TestServlet</display-name>
		<description></description>
		<servlet-class>com.vtb.test.TestServlet</servlet-class>
		<init-param>
			<param-name>suite</param-name>
			<param-value>com.vtb.model.test.AllTests</param-value>
			<description></description>
		</init-param>
	</servlet>
	<servlet-mapping>
		<servlet-name>action</servlet-name>
		<url-pattern>*.do</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>TestServlet</servlet-name>
		<url-pattern>/TestServlet</url-pattern>
	</servlet-mapping>
	<welcome-file-list>
		<welcome-file>secure/logon.jsp</welcome-file>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>
	<error-page>
		<error-code>403</error-code>
		<location>/logonError.jsp</location>
	</error-page>
	<resource-ref id="ResourceRef_1226763851578">
		<description></description>
		<res-ref-name>jdbc/VTBLOANS</res-ref-name>
		<res-type>javax.sql.DataSource</res-type>
		<res-auth>Application</res-auth>
		<res-sharing-scope>Shareable</res-sharing-scope>
	</resource-ref>
	<security-constraint>
		<display-name>SecurityConstraint1</display-name>
		<web-resource-collection>
			<web-resource-name>Protected Area</web-resource-name>
			<description></description>
			<url-pattern>/DictionaryApp/*</url-pattern>
			<url-pattern>/secure/*</url-pattern>
			<http-method>GET</http-method>
			<http-method>PUT</http-method>
			<http-method>POST</http-method>
			<http-method>DELETE</http-method>
		</web-resource-collection>
		<auth-constraint>
			<description>AuthorizationConstraint1</description>
			<role-name>AllAuthenticated</role-name>
		</auth-constraint>
	</security-constraint>
	<security-constraint>
		<display-name>SecurityConstraint2</display-name>
		<web-resource-collection>
			<web-resource-name>Protected Area</web-resource-name>
			<description></description>
			<url-pattern>/</url-pattern>
			<http-method>GET</http-method>
			<http-method>PUT</http-method>
			<http-method>POST</http-method>
			<http-method>DELETE</http-method>
		</web-resource-collection>
		<auth-constraint>
			<description>AuthorizationConstraint2</description>
			<role-name>AllAuthenticated</role-name>
		</auth-constraint>
		<user-data-constraint>
			<transport-guarantee>NONE</transport-guarantee>
		</user-data-constraint>
	</security-constraint>
	<security-constraint>
		<display-name>SecurityConstraint3</display-name>
		<web-resource-collection>
			<web-resource-name>Protected Area</web-resource-name>
			<description></description>
			<url-pattern>*.do</url-pattern>
		</web-resource-collection>
		<auth-constraint>
			<description>AuthorizationConstraint3</description>
			<role-name>AllAuthenticated</role-name>
		</auth-constraint>
		<user-data-constraint>
			<transport-guarantee>NONE</transport-guarantee>
		</user-data-constraint>
	</security-constraint>
	<login-config>
		<auth-method>CLIENT-CERT</auth-method>
	</login-config>	
	<security-role>
		<description>все авторизованные пользователи</description>
		<role-name>AllAuthenticated</role-name>
	</security-role>
	<security-role>
		<description>Администратор СПО</description>
		<role-name>administratorSPO</role-name>
	</security-role>
	<security-role>
		<description>Администратор пользователей</description>
		<role-name>administratorUsers</role-name>
	</security-role>
	<security-role>
		<description>Администратор ролей</description>
		<role-name>administratorRoles</role-name>
	</security-role>
	<security-role>
		<description>Акцепт-Администратор</description>
		<role-name>administratorApprove</role-name>
	</security-role>
	<security-role>
		<description>Администратор Справочников</description>
		<role-name>adminDictionary</role-name>
	</security-role>
	<ejb-local-ref id="EJBLocalRef_1226763069890">
		<description></description>
		<ejb-ref-name>ejb/DictionaryActionProcessorLocal</ejb-ref-name>
		<ejb-ref-type>Session</ejb-ref-type>
		<local-home>
			com.vtb.ejb.DictionaryActionProcessorFacadeLocalHome
		</local-home>
		<local>com.vtb.ejb.DictionaryActionProcessorFacadeLocal</local>
		<ejb-link>
			Vtb24Group.jar#DictionaryActionProcessorFacade
		</ejb-link>
	</ejb-local-ref>
	<ejb-local-ref id="EJBLocalRef_1226931531089">
		<description></description>
		<ejb-ref-name>ejb/OIDGenerator</ejb-ref-name>
		<ejb-ref-type>Session</ejb-ref-type>
		<local-home>
			com.god.oidgen.OIDGeneratorSessionLocalHome
		</local-home>
		<local>com.god.oidgen.OIDGeneratorSessionLocal</local>
		<ejb-link>OIDGenerator.jar#OIDGeneratorSession</ejb-link>
	</ejb-local-ref>
	<ejb-local-ref id="EJBLocalRef_1227540685911">
		<description></description>
		<ejb-ref-name>ejb/SecurityActionProcessorLocal</ejb-ref-name>
		<ejb-ref-type>Session</ejb-ref-type>
		<local-home>
			com.vtb.ejb.SecurityActionProcessorFacadeLocalHome
		</local-home>
		<local>com.vtb.ejb.SecurityActionProcessorFacadeLocal</local>
		<ejb-link>
			Vtb24Group.jar#SecurityActionProcessorFacade
		</ejb-link>
	</ejb-local-ref>
	<ejb-local-ref id="EJBLocalRef_1228558389063">
		<description></description>
		<ejb-ref-name>ejb/SequenceGenerator</ejb-ref-name>
		<ejb-ref-type>Session</ejb-ref-type>
		<local-home>
			ru.md.sequence.ejb.SequenceSessionLocalHome
		</local-home>
		<local>ru.md.sequence.ejb.SequenceSessionLocal</local>
		<ejb-link>SequenceGenerator.jar#SequenceSession</ejb-link>
	</ejb-local-ref>
</web-app>
